{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<h1>Welcome to the Accueil Page</h1><p>This is the main page of our application.</p>

<div>
Nous proposons {{ nombreProduits }} produits à la vente
</div>
{% endblock %}